.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(80, 77, 194);
  background: linear-gradient(
    180deg,
    rgba(80, 77, 194, 1) 50%,
    rgba(95, 18, 208, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1110px;
  margin: 0px;
  padding: 0px;
  margin-top: 60px;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  margin-left: 370px;
  button {
    width: 200px;
    height: 45px;
  }
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 102px;
  }
}
.btn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: #4985ff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.header {
  font-family: 'Montserrat';
  // -webkit-line-clamp: 3;
  white-space: pre-wrap;
  font-weight: bold;
  color: #ffffff;
  font-size: 27px;
}

// Услуги компании
.work {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -30px;

  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 45px;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 36px;

  a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985ff;
  }

  a:hover {
    color: #2058c7;
  }
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 1px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    h3 {
      font-size: 25px;
    }
  }
}

.number {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4985ff;
}

.description {
  font-family: Montserrat;

  line-height: 25px;
  color: #999999;
  font-weight: 400;
  p {
    text-align: left;
    font-size: 16px;
  }

  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 190px;
    padding-left: 190px;
    p {
      font-size: 22px;
    }
  }
}

.link {
  margin-left: -250px;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    a {
      font-size: 25px;
    }
  }
}
