.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin-top: 70px;


   
} 


 .header {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    text-align: center;
    }


    .head {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1px;
        align-items: center;
        color:rgba(153, 153, 153, 1);
        text-align: center;
        line-height: 25px;
        margin-top: -20px;
    }

    .input {
        padding-left: 35px;
        background: #FFFFFF;
        border:1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px 0px 0px 30px;
        width: 337.5px;
        height: 45px;
        font-family: 'Montserrat';
        font-size: 13px;
        font-weight: 400;
        line-height: 20.6px;
        color: rgba(153, 153, 153, 1);
    }

    .button {
       
        border-radius: 0px 30px 30px 0px;
        border: 0;
        background: #4985FF;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        width: 190px;
        height: 45px;
        align-items: center;
             font-family: 'Montserrat';
             color: rgba(255, 255, 255, 1);
            font-weight: 400;
            font-size: 16px;
        
        
    }


    .warning {
        margin-top: 35px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1px;
        align-items: center;
        color:rgba(153, 153, 153, 1);
        text-align: center;
    }