.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 750px;
  background-color: #f6f6f8;
  width: 100%;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.content {
  width: 100%;
  max-width: 1110px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 42.5px;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: left;
  }
  p {
    text-align: left;
  }
}

.header {
  justify-content: center;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
  -webkit-line-clamp: 2;
  color: rgba(50, 50, 50, 1);
}

.text {
  justify-content: center;
  margin-top: 10px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(153, 153, 153, 1);
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-top: 40px;
  }
}

.more {
  margin-top: 80px;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-top: 40px;
  }
}

.link {
  font-family: 'Montserrat';
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
  color: rgba(73, 133, 255, 1);
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-top: 40px;
  }
}

.img {
  // margin-left: 120px;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    width: 100%;
    // max-width: 1110px;
  }
}

.projects {
  display: flex;
  flex-direction: row;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.example {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
  p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: rgba(153, 153, 153, 1);
  }
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25px;

    p {
      font-size: 22px;
    }
  }
}

.number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    padding-left: 20px;
  }
}

a:hover {
  color: #2058c7;
}
