h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 36px;
  }
}

p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: rgba(153, 153, 153, 1);
  text-align: center;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 28px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(246, 246, 248, 1);
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.content {
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 70px;
  border-bottom: 1px solid #e0e0e0;
  @media (max-width: 1040px)  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

// Контактная информация
.contact_info {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  margin-left: 43px;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 15px;
    height: 13px;
    padding-right: 15px;
  }
}

// Основные ссылки
.main_links {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  margin-left: 43px;
  @media (max-width: 1040px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.major {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    padding-right: 15px;
  }
}

.rigths {
  margin-top: 30px;
}
