.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1140px;
    background: #ffffff url(../Work/images/logo.png) no-repeat top center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin-top: 70px;
}

.header {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    align-items: center;
    color:#ffffff;
    text-align: center;
}
.head {

    p{
         font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
      color:#ffffff;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
    }
   
    
    align-items: center;
  
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding-bottom: 42.5px;
    border-bottom: 1px solid #E0E0E0;
}
.player {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.btn {

    
            position: absolute;
    p{
        
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 14px;
                align-items: center;
                color:#ffffff;
                text-align: center;
                padding-left: 70px;
                height: 19px;
                width: 150px;
    }
    
    button{
    background: none;
    border-radius: 200px;
    width: 300px;
    height: 100px;
    border: 1px solid #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    }



  }

  .button_style {
      display: flex;
      align-items: center;
  }

