a {
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  text-align: center;

  &:hover {
    color: #ddcccc;
  }

  @media (max-width: 1003px) {
    font-size: 22px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  background: url(../Navbar/images/logo.jpg) no-repeat top center;

  @media (max-width: 1003px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 861px;
    height: 900px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   width: 100%;
  @media (max-width: 1003px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 861px;
    height: 900px;
  }
}

// Навигация
.topnav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #a1a1a1;
  @media (max-width: 1003px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
  }
}
.topnav a {
  float: left;
  display: block;
  margin-left: 40px;
  padding-top: 40px;
  padding-bottom: 39px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid #ffffff;
}

.topnav a.active {
  border-bottom: 3px solid #ffffff;
}

.links {
  margin-right: 405px;

  a {
    color: #fff;
    &:hover {
      color: #ddcccc;
    }
  }
  @media (max-width: 1003px) {
    float: left;
    display: flex;
    align-items: center;
    margin-right: 202.5px;
  }
}
// Заголовок
.header {
  margin-top: 220px;
  p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  @media (max-width: 1003px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 32px;
    }
  }
}

.description {
  margin-top: 20px;
  width: 800px;
  h1 {
    font-weight: 800;
    font-family: 'Montserrat';
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
    text-align: center;
  }
  @media (max-width: 1003px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

// Кнопка

.bttn {
  margin-top: 50px;
  button {
    width: 200px;
    height: 45px;
    top: 550px;
    left: 860px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: #4985ff;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }

  button:hover {
    background-color: #094ace;
  }
  @media (max-width: 1003px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
